@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    /* border: none; */
}

body{
    box-sizing: border-box;
    background-color: #F3F5FC
}

.cabecalho {
    margin: 2.5rem 0 0 2.5rem;
}

.apresentacao {
    display: flex;
}

.apresentacao__principal {
    display: flex;
    flex-direction: column;
    padding: 8rem 15rem 5rem 15rem;
    justify-content: center;
    width: 46%;
    gap: 16px;
}

.apresentacao__principal__texto__cripto {
    width: 100%;
    height: 100%;
    font-size: 3.1rem;
    color: #0A3871;
    /* background-color: #F3F5FC;
    border: none; */
}

.apresentacao__principal__texto__cripto::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 3.1rem;
    color: #0A3871;
}

.apresentacao__principal__aviso {
    display: flex;
    gap: 1.5rem;
    font-weight: 9.3rem;
}

.apresentacao__botoes {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.apresentacao__principal__botao__cripto, .apresentacao__principal__botao__descripto, .apresentacao__principal__botao__copiar {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #0A3871;
    width: 50%;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #0A3871;
    padding: 1.5rem;
    border-radius: 24px;
    text-decoration: none;
    cursor: pointer;
}

.apresentacao__principal__botao__descripto {
    color: #0A3871;
    background-color: #D8DFE8;
}

.apresentacao__secundario {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 32px;
    width: 25rem;
    height: 59rem;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.apresentacao__secundario__texto {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 3.1rem;
    color: #495057;
    border: none;
}

.apresentacao__secundario__informacoes {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 32px;
}

.apresentacao__secundario__informacoes__titulo {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    gap: 32px;
}

.apresentacao__secundario__informacoes__subtitulo {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    gap: 32px;
}

.apresentacao__secundario__texto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 32px;
    justify-content: center;
}

.apresentacao__secundario__texto__descripto {
    width: 100%;
    height: 82%;
    border-radius: 32px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 3.1rem;
    color: #495057;
    border: none;
}

.apresentacao__principal__botao__copiar {
    background-color: #FFFFFF;
    color: #0A3871;
    width: 100%;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #0A3871;
    color: #FFFFFF;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}