@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-fundo-pagina:#062139;
    --cor-texto:#8A4FFF;
    --cor-fundo-secundario:#CED0CE;
    --cor-fundo-botoes:#E6E8E6;
    --cor-selecao-cabecalho:#1F7A8C;

    --fonte-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo-pagina);
}

.cabecalho {
    margin: 2.5rem 2.5rem 0 2.5rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    align-items: center;
}

.cabecalho-estilo-alternativo {
    background-color: var(--cor-selecao-cabecalho);
}

.cabecalho-estilo-alterartema {
    font-family: var(--fonte-primaria);
    color: var(--cor-texto);
}

.cabecalho-estilo-principal, .cabecalho-estilo-alternativo{
    padding: 7px 0px;
    border-radius: 24px;
    align-items: center;
    border: 2px solid var(--cor-texto);
    background-color: var(--cor-fundo-botoes);
}

.cabecalho-estilo-principal:hover, .cabecalho-estilo-alternativo:hover {
    cursor: pointer;
}

.cabecalho-estilo-principal:hover {
    background-color: var(--cor-selecao-cabecalho);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.5rem;
    margin: 2%;
}

.apresentacao__principal {
    display: flex;
    width: 45%;
    flex-direction: column;
    padding: 8rem 2rem 4rem 2rem;
    gap: 16px;
}

.apresentacao__principal__texto__cripto {
    height: 37.5rem;
    font-family: var(--fonte-primaria);
    font-size: 3.1rem;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-pagina);
    border: none;
    resize: none;
}

.apresentacao__principal__texto__cripto::placeholder {
    font-family: var(--fonte-primaria);
    font-size: 3.1rem;
    color: var(--cor-texto);
}

.apresentacao__principal__aviso__switch {
    display: flex;
    align-items: center;
    width: 47%;
    padding: 10px;
    gap: 1.5rem;
    font-weight: 9.5rem;
}

.apresentacao__principal__aviso__switch__secundario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 47%;
}

.switch {
    position: relative;
    display: inline-flex;
    width: 30%;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-fundo-botoes);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 45%;
    left: 4px;
    bottom: 4px;
    background-color: var(--cor-texto);
    transition: .4s;    
}

input:checked + .slider {
    background-color: #51E5FF;
}

input:checked + .slider:before {
    transform: translateX(90%);
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 25%;
}   

.apresentacao__principal__aviso {
    display: flex;
    gap: 1.5rem;
    font-weight: 9.5rem;
    align-items: center;
}

.paragrafoAviso {
    color: var(--cor-texto);
}

.apresentacao__principal__botoes__colar__limpar {
    display: flex;
    align-items: center;
    width: 48.5%;
    gap: 1.5rem;
}

.apresentacao__botoes {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
}

.apresentacao__principal__botao__cripto, .apresentacao__principal__botao__descripto, .apresentacao__secundario__botao__copiar, .apresentacao__principal__botao__colar, .apresentacao__principal__botao__limpar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-primaria);
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid var(--cor-texto);
    padding: 1.5rem;
    border-radius: 24px;
    text-decoration: none;
    cursor: pointer;
    gap: 0.6rem;
}

.apresentacao__principal__botao__cripto, .apresentacao__principal__botao__colar {
    color: var(--cor-fundo-botoes);
    background-color: var(--cor-texto);
}

.apresentacao__principal__botao__descripto, .apresentacao__principal__botao__limpar, .apresentacao__secundario__botao__copiar {
    color: var(--cor-texto);
    background-color: var(--cor-fundo-botoes);
}

.apresentacao__secundario {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo-secundario);
    border-radius: 32px;
    width: 30%;
    height: 59rem;
    align-items: center;
    box-shadow: 3px 3px 25px rgba(255, 255, 255, 0.3);
}

.apresentacao__secundario__informacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    gap: 32px;
    display: block;
}

.apresentacao__secundario__informacoes__titulo {
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 500;
    gap: 32px;
}

.apresentacao__secundario__informacoes__subtitulo {
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    gap: 32px;
}

.apresentacao__secundario__texto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    gap: 32px;
    height: 90%;
    width: 100%;
    display: none;
}

.apresentacao__secundario__texto__descripto {
    width: 100%;
    height: 90%;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 3.1rem;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-secundario);
    border: none;
    resize: none;
}

.apresentacao__secundario__texto__descripto:focus, .apresentacao__principal__texto__cripto{
    outline: none;
}

.rodape {
    margin-top: 2%;
    padding: 1rem;
}

.rodape-fixo {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    margin-top: 2%;
    text-align: center;
    background-color: var(--cor-texto);
    color: var(--cor-fundo-botoes);
    padding: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.rodape-fixo-redes {
    display: flex;
    gap: 1rem;
}

.rodape-fixo-informacao {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1300px) {
    .apresentacao {
        flex-direction: column;
        gap: 0;
    }

    .apresentacao__principal {
        width: 80%;
    }

    .apresentacao__secundario {
        width: 80%;
    }

    .apresentacao__secundario__texto {
        width: 85%;
    }
}

@media (max-width: 920px) {

    .cabecalho {
        gap: 5.5rem;
    }

    .rodape {
        margin-top: 7%;
        padding: 1rem;
    }

    .rodape-fixo{
        flex-direction: column;
    }
    
    .rodape-fixo-informacao {
        position: relative;
        justify-content: center;
        left: 0%;
        transform: translateX(0%);
    }
}

@media (max-width: 870px) {
    
    .apresentacao__principal__aviso {
        flex-direction: column;
        width: 100%;
    }

    .apresentacao__principal__aviso__switch {
        justify-content: center;
        width: 70%;
    }

    .apresentacao__principal__botoes__colar__limpar {
        width: 100%;
    }
}

@media (max-width: 775px) {
    .cabecalho {
        gap: 1rem;
    }
}

@media (max-width: 705px) {

    .apresentacao__botoes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .rodape {
        margin-top: 9%;
        padding: 1rem;
    }
}

@media (max-width: 650px) {

    .cabecalho {
        font-size: 0.6rem;
    }

    .apresentacao__principal__aviso__switch{
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 550px) {

    .apresentacao__secundario__informacoes__imagem{
        width: 80%;
    }

    .rodape {
        margin-top: 10%;
        padding: 1rem;
    }
    
}

@media (max-width: 500px) {

    .apresentacao__principal__botoes__colar__limpar {
        flex-direction: column;
        width: 100%;
    }

    .apresentacao__secundario__informacoes {
        width: 80%;
    }

    .rodape {
        margin-top: 12%;
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    
    .rodape {
        margin-top: 20%;
        padding: 1rem;
    }

    .rodape-fixo-informacao {
        width: 80%;
    }
}